.box {
    width: 100px;
    height: 100px;
    background-color: powderblue;
    animation-name: moveRight;
	animation-duration:3s;
	animation-iteration-count:infinite;
}
.ball{
	height:100px;
	width:100px;
	background-color:red;
	border-radius:50%;
	animation-name:bounce;
	animation:bounce 3s linear 1s infinite;
}

@keyframes moveRight {
    from {
        transform:translateX(0);
    }

    to {
        transform:translateX(2000px);
    }
}
@keyframe bounce{
    from {
        transform:translateY(0);
    }

    to {
        transform:translateY(2000px);
    }
}
